{# templates/accounts/password_reset_confirm.html #}
{% extends 'base.html' %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block content %}
<div class="container py-4" style="max-width: 400px;">
  <h1 class="mb-4">Choisissez un nouveau mot de passe</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    <button type="submit" class="btn btn-primary mt-3 w-100">Modifier</button>
  </form>
</div>
{% endblock %}
